anki==24.6.3
aqt==24.6.3
attrs==23.2.1.dev0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==42.0.8
decorator==5.1.1
distro==1.9.0
filelock==3.16.1
Flask==2.3.3
Flask-Cors==5.0.0
idna==3.10
installer==0.7.0
itsdangerous==2.1.2
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
lensfun==0.3.4
Markdown==3.7
MarkupSafe==2.1.5
orjson==3.10.11
packaging==24.1
protobuf==5.28.3
pycparser==2.22
PyQt6==6.8.0.dev2410211537
PyQt6-WebEngine==6.7.0
PyQt6_sip==13.8.0
PySocks==1.7.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.19.0
Send2Trash==1.8.3
soupsieve==2.6
TBB==0.2
urllib3==1.26.20
waitress==3.0.0
Werkzeug==3.0.4
wheel==0.44.0
